@import 'colors.scss';

.policy {
  background-color: rgb(255, 255, 255);
  padding: 70px;
  width: 50%;

  > :not(:last-child) {
    margin-bottom: 30px;
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url('../images/img/emptyroad.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__body {
    > :not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__title {
    position: relative;
    padding-bottom: 10px;

    ::after {
      content: '';
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      height: 2px;
      background-color: $color-red;
    }
  }
}
