@import 'colors.scss';

.submit-button {
  cursor: pointer;
  display: inline-block;
  padding: 10px 40px;
  color: $color-white;
  font-size: 16px;
  text-transform: uppercase;
  background-color: $color-red;

  &--hovered {
    background-color: $color-dark-red;
  }

  &--disabled {
    background-color: $color-light-grey;
  }

  &:focus {
    outline: 0;
  }
};
